.container_main{

    .container_main-width{
        max-width: 1300px;
        margin: 0 auto;
        padding-inline: 20px;
    }

    .container_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 14rem auto;
        
        .title{
            .content{
                margin-bottom: 3rem;
                h2{
                    font-weight: 700;
                    font-size: 42px;
                    line-height: 47px;
                    margin-bottom: 2rem;
                }

                p{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 23px;
                    color: var(--grey);
                }
            }

            .buttons{
                button{
                    padding: 2rem 3rem;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 18px;
                    font-family: 'DM Sans', sans-serif;
                }

                .button-blue{
                    background: var(--blue);
                    margin-right: 2rem;
                    a{
                        color: var(--dark);
                    }
                }

                .button-blue:hover{
                    background: var(--dark);
                    a { 
                        color: var(--white); 
                    }
                }

                .button-black{
                    background: var(--dark);
                    border: 1px solid #333333;
                }

                .button-black:hover{
                    background: var(--blue);
                    a{
                        color: var(--dark);
                    }
                }
            }
        }

        .img_bg{
            display: flex;
            justify-content: center;
            align-items: center;

            .img{
                height: 280px;
                width: 280px;
            }
        }
    }

    .about_me{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 8rem;
        
        h3{
            font-weight: 700;
            font-size: 42px;
            line-height: 42px;
            margin-bottom: 3rem;
        }

        p{
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: var(--grey);
            max-width: 900px;
        }
    }

    .contacts{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10rem;
        gap: 11rem;
        
        .media{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .icon_bg{
                background: var(--medium-dark);
                border-radius: 100%;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2rem;

                i{
                    color:var(--blue);
                    font-size: 42px;
                }
            }

            .description{
                p{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 23px;
                    margin-bottom: 1rem;
                }

                a, span{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 21px;
                    color: var(--grey);
                }

                a:hover{
                    color: var(--blue)
                }
            }
        }
    }

    .projects{
        margin-bottom: 7.938rem;
        
        .title_proj{
            text-align: center;
            margin-bottom: 4rem;

            h3{
                font-weight:700;
                font-size: 42px;
                line-height: 42px;
            }
        }

        .progs{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 4rem;
            column-gap: 3rem;
            

            .proj{
                padding: 1rem;
                background: var(--medium-dark);
                width: 400px;
                height: 305px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                a:hover{
                    filter: brightness(0.6);
                }

                .img_proj{
                    height: 130px;
                    background: var(--dark);
                    margin-bottom: 1.5rem;
                }

                .proj_content p{
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 23px;
                    margin-bottom: 1rem;
                }

                .technologies{
                    display: flex;
                    gap: 1rem;
                    flex-wrap: wrap;
                }

                .technology{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: var(--light-grey);
                    background-color: var(--bg-grey);
                    padding: 5px;
                    border-radius: 20px;   
                }
            }
        }
    }

    .services{
        margin-bottom: 7.938rem;
        
        .service_title{
            text-align: center;
            margin-bottom: 1.875rem;

            h3{
                font-weight: 700;
                font-size: 32px;
                line-height: 42px;
            }
        }
        .servs{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7rem;
            

            .service{
                background: var(--medium-dark);
                padding: 1.875rem;
                border-bottom: 5px solid #4e46cd;
                width: 350px;
                height: 240px;

                img{
                    height: 56px;
                    width: 56px;
                    margin-bottom: 2.5rem;
                }

                p{
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 42px;
                    color: var(--grey);
                    margin-right: 11.625rem;
                }
            }

            :last-child{
                margin: 0;
            }
        }
    }

    .skills{
        margin-bottom: 11.563rem;
        
        .skill_title{
            text-align: center;
            margin-bottom: 1.875rem;

            h3{
                font-weight: 700;
                font-size: 32px;
                line-height: 42px;
            }
        }

        .sklls{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 4rem;
            align-items: center;
            margin: 0 9.38rem;
            gap: 5rem;

            .skill{
                border: 1px solid #333333;
                background: var(--medium-dark);
                padding: 2.188rem;
                width: 150px;
                height: 140px;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    height: auto;
                    width: 80px;
                }

                a:hover{
                    filter: brightness(0.6);
                }
            }
        }
    }
  }

